@import url("../webfonts/roboto/stylesheet.css");
@import url("../webfonts/roboto_c/stylesheet.css");
body {
	background-image: url(../img/sfondo.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	color: #4E4D4D;
	width: 1200px;
	height: auto;
	left: auto;
	right: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #D9D9D9;
	margin-top: 0px;
	font-family: "roboto_l";
	font-size: 16px;
}
body a {
	text-decoration: none;
	color: #6595b1;
}
body a:hover {
	color: red;
	text-decoration: none;
}
#header{
	width: 100%;
	color: #000000;
	background-color: #FFFFFF;
	-webkit-box-shadow: 2px 4px 6px 0px #797979;
	box-shadow: 2px 4px 6px 0px #797979;
}	
#header #img_menu {
	margin-left: 20px;
}
#subheader {
	width: 100%;
	height: 250px;
	-webkit-box-shadow: 2px 4px 6px 0px #797979;
	box-shadow: 2px 4px 6px 0px #797979;
}
.sub_title {
	font-size: 28px;
	font-weight: bolder;
}
#photos {
	width: 100%;
	position: relative;
	background-color: #343434;
	height: 250px;
}
#photos #foto img {
	position: absolute;
	opacity: 0;
}
#photos #photo_prev {
	top: 50%;
	left: 0;
	position: absolute;
}
#photos #photo_next {
	right: 0;
	top: 50%;
	position: absolute;
}
#f_prev {
	opacity: 0.5;
}
#f_next {
	opacity: 0.5;
}
#pre_menu {
	width: 100%;
	height: 10px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 2px 4px 6px 0px #797979;
	box-shadow: 2px 4px 6px 0px #797979;
	float: left;
}

#menu {
	min-width: 500px;
	width: 100%;
	height: 40px;
	font-weight: normal;
	background-color: #FFFFFF;
	float: left;
	-webkit-box-shadow: 2px 4px 6px 0px #797979;
	box-shadow: 2px 4px 6px 0px #797979;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #EEEEEE;
}
#menu #ulprimo {
	text-transform: uppercase;
	list-style-type: none;
	padding-top: 0px;
	margin-top: 0px;
	float: left;
}
#menu #primavoce {
	float: left;
	/*border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;*/
}
#menu .liprimo {
	float: left;
	/*border-right: 1px solid #FFFFFF;*/
	position: relative;
}
#menu .liprimo a {
	color: #4E4D4D;
	display: block;
	text-decoration: none;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-weight: normal;
}
#menu .liprimo a:hover {
	background-color: #eeeeee;
	color: #4697b8;
}
#menu .liprimo_sel a:hover {
	background-color: #eeeeee;
}
#menu .liprimo_sel {
	float: left;
	position: relative;
	background-color: undefined;	/*border-right: 1px solid #FFFFFF;*/
}
#menu .liprimo_sel a {
	color: #4697b8;
	display: block;
	text-decoration: none;
	padding-top: 10px;
	padding-right: 6px;
	padding-bottom: 10px;
	padding-left: 6px;
}
#menu .ulsecondo {
	text-transform: none;
	visibility: hidden;
	position: absolute;
	top: 38px;
	left: 0px;
	z-index: 9999;
	width: 200px;
	background-color: #FFFFFF;
	list-style-type: none;
	list-style-position: none;
	font-size: 14px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-shadow: 0px 0px;
	-webkit-box-shadow: 0px 0px 1px 1px #9D9D9D;
	box-shadow: 0px 0px 1px 1px #9D9D9D;
}
#menu .lisecondo {
	/*border-top: 1px solid #FFFFFF;*/
	margin: 0px;
	padding: 0px;
	float: none;
	position: relative;
}
#menu .lisecondo a {
	padding-top: 12px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 12px;
	color: #9F9F9F;
	display: block;
	text-decoration: none;
	background-color: #FFFFFF;
}
#menu .lisecondo a:hover {
	color: #FFFFFF;
	background-color: #4697b8;
}
#menu .liprimo:hover .ulsecondo{
	visibility: visible;
	background-color: undefined;
}
#menu .liprimo_sel:hover .ulsecondo{
visibility: visible;
}
.title {
	font-size: 36px;
	font-style: italic;
}
#content {
	font-size: 18px;
	background-color: #FFFFFF;
	float: left;
	width: 1200px;
	-webkit-box-shadow: 2px 4px 6px 0px #797979;
	box-shadow: 2px 4px 6px 0px #797979;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.colonne_content {
	width: 1120px;
	float: left;
	-webkit-box-shadow: 0px 0px 0px;
	box-shadow: 0px 0px 0px;
	margin-left: 20px;
	padding-right: 20px;
	padding-left: 20px;
	margin-right: 20px;
}
.colonne_content_sin {
	width: 180px;
	float: left;
	margin-left: 20px;
	font-size: 14px;
	padding-bottom: 10px;
}
.colonne_content_centr {
	width: 650px;
	float: left;
	-webkit-box-shadow: 0px 0px 8px 2px #B5B5B5;
	box-shadow: 0px 0px 8px 2px #B5B5B5;
	margin-left: 20px;
	padding-right: 20px;
	padding-left: 20px;
	margin-right: 20px;
	padding-top: 0px;
	padding-bottom: 10px;
}
.colonne_content_destr {
	width: 250px;
	float: left;
	margin-right: 20px;
	padding-bottom: 10px;
}
.colonne_content_sin_2col {
	width: 250px;
	float: left;
	margin-left: 20px;
	padding-bottom: 10px;
}
.colonne_content_centr_2col {
	width: 850px;
	float: left;
	-webkit-box-shadow: 0px 0px 8px 2px #B5B5B5;
	box-shadow: 0px 0px 8px 2px #B5B5B5;
	margin-left: 20px;
	padding:10px;
	margin-right: 20px;

}
#menu_m{
	border: 2px solid #3a3a3a;
        background-image: url(../ccs/immagini/sfondo_scheda.png);
        background-repeat: repeat;
	background-color: whitesmoke;
	width: 250px;
	position: fixed;
	top: 168px;
	right: -274px;
	z-index: 10;
	color: blue;/*#000;*/
	padding:10px;
	text-align: center; 
	border-radius: 10px;
	float:right;
        box-shadow: 4px 4px 10px #000000;
        -webkit-box-shadow: 4px 4px 10px #000000;
}
#news {
	color: #FFFFFF;
	float: left;
	width: 100%;
	-webkit-box-shadow: 2px 4px 6px 0px #797979;
	box-shadow: 2px 4px 6px 0px #797979;
	border-top: 1px solid #18314C;
	border-bottom: 1px solid #18314C;
	font-size: 20px;
	min-height: 30px;
	margin-top: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	opacity: 1;
	background-color: #4697b8;
}
#news a {
	color: #FFFFFF;
}
#news a:hover {
	color:red;
}
#webmaster {
	color: #ffffff;
	text-align: center;
	font-size: 10px;
	width: 100%;
	background-color: #18314C;
	float: left;
	-webkit-box-shadow: 2px 4px 6px 0px #797979;
	box-shadow: 2px 4px 6px 0px #797979;
}
.centrato_rosso {
	text-align: center;
	color: #FF0004;
}
.centrato_adestra  {
	text-align: right;
	font-size: small;
}
.divisione {
	text-align: justify;
	border-bottom: thin solid #D5D5D5;
	padding-top: 10px;
	padding-bottom: 10px;
}
.riquadro {
	text-align: center;
	padding-top: 4px;
	padding-right: 19px;
	padding-bottom: 4px;
	padding-left: 19px;
	margin-top: 4px;
	margin-bottom: 4px;
	background-color: #4697b8;
	font-size: 14px;
}
.riquadro a {
	color: #FFFFFF;
	font-family: "roboto_l";
}
.riquadro img {
	border: 2px solid #FFFFFF;
}
.divisione_title {
	font-size: 18px;
	text-align: center;
	color: #4697b8;
	font-family: "roboto_c";
}
.sfondogrigino {
	background-color: #eeeeee;
}
.centrato {
	text-align: center;
}
#content #col_sin_menu {
	position: relative;
	float: left;
}
.floatleft {
	float: left;
}
.bordato {
	border: thin solid #eeeeee;
	min-width: 240px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	text-align: left;
}
.bordato_pic {
	border: thin solid #eeeeee;
	min-width: 160px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	text-align: left;
}
#barrel {
	background-color: #18314C;
	width: 100%;
	float: left;
}
#table_intest {
	background-color: #4697b8;
	color: #FFFFFF;
	text-transform: uppercase;
	font-family: "roboto_c";
}
#content .colonne_content_centr_2col table {
}
table {
	border-collapse: collapse;
	margin-bottom: 40px;
}
form {
	margin-bottom: 40px;
}
.form_intest {
	background-color: #4697b8;
	color: #FFFFFF;
	text-transform: uppercase;
	font-family: "roboto_c";
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.prof_pie {
	border-bottom: 30px solid #F40E12;
}
.form_pied {
	background-color: #4697b8;
	color: #FFFFFF;
	text-transform: uppercase;
	font-family: "roboto_c";
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.form_sez {
	padding:20px 0;
	float: left;
	width: 100%;
}
.form_riga {
	width: 100%;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	float: left;
}
select {
	min-width: 200px;
	font-size: 12pt;
	-webkit-appearance: none;
	-moz-appearance: none;
}
textarea {
	width: 90%;
	font-size: 12pt;
	resize: none;
}
input   {
	font-size: 12pt;
}
input[type=text]:disabled,select:disabled{
opacity:0.5;
background-color: #DDD;
}
input[type=text],select{
border:1px solid #DDD;
padding:6px;
}
.form_col {
	float: left;
	width: 48%;
}
.button_m {
	font-size: 16px;
	background-color: transparent;
	border-color: transparent;
	cursor: pointer;
}	
.button_p {
	font-size: 16px;
	background-color: transparent;
	border-color: transparent;
	cursor: pointer;
}	

.disabledd{
opacity:0.7;
}
.alert{
border:1px solid #333;
padding:3px, 10px;
background-color: rgba(255, 175, 1, 0.899);
}


label {
	/* [disabled]text-align: left; */
	font-weight: bold;
	color: #6BB0DD;
	font-style: italic;
}
td {
/*	border: 1px solid #9D9D9D;*/
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.prof_lab {
	width: 48%;
	float: left;
	padding-left: 10px;
	font-weight: bold;
	color: #4697b8;
}
.prof_val {
	width: 48%;
	float: left;
	padding-right: 10px;
}
.prof_intest {
	float: left;
	width: 100%;
	font-size: 24pt;
	text-align: left;
	font-family: "roboto_c";
	color: #4697b8;
	border-bottom: 30px solid #4697b8;
}
table tr:nth-child(even) { background-color: #FFFFFF; }
table tr:nth-child(odd) { background-color: #EDFCFF; }
.staff_cont {
	width: 100%;
	height: 200px;
}
.staff_resp {
	width: 100%;
	height: 200px;
	text-align: center;
}
.staff_memb {
	width: 350px;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
}
.staff_char {
	font-family: "roboto_c";
	font-size: 24pt;
	color: #18314C;
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
  }
  
  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }